<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js}"></script>
    <script th:src="@{/js/trip-planner.js}"></script>
    <link rel="stylesheet" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <title>Trip Planner</title>
</head>
<body ng-app = "tripPlannerApp" ng-controller = "tripPlannerCtrl">
<div class="container">
    <h3 ng-if="message">{{message}}</h3>
    <h2>Provide travel info here</h2>
    <form class="form-horizontal" ng-submit="submitRequest('/get-travel-plan')">
        <div class="form-group">
            <label class="control-label col-sm-2" for="startLat">departure lat:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="travelPlanRequest.startLat" id="startLat" placeholder="Enter departure lat" name="startLat"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="startLong">departure long:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="travelPlanRequest.startLong" id="startLong" placeholder="Enter departure long" name="startLong"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endLat">Arrival lat:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="travelPlanRequest.endLat" id="endLat" placeholder="Enter arrival lat" name="endLat"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="endLong">Arrival long:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="travelPlanRequest.endLong" id="endLong" placeholder="Enter arrival long" name="endLong"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="date">date and time(yyyy-MM-dd,hh:mm):</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="travelPlanRequest.dateString" id="date" placeholder="Enter date and time (yyyy-MM-dd,hh:mm format)" name="date"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </div>
    </form>
</div>

<div class="container" ng-show="tripPlan">
    <h2>Travel Legs</h2>
    <ul ng-repeat="x in tripPlan.travelLegs">
        <li >duration: {{ x.duration}}</li>
        <li >transport Type: {{ x.transport}}</li>
        <li >path: {{ x.path}}</li>
        <li ng-if="x.routeNumber != -1">rounteNumber: {{ x.routeNumber}}</li>
        <li >startTimeL {{ x.startTime}}</li>
        <li >endTime: {{ x.endTime}}</li>
    </ul>
</div>


</body>
</html>